[Unit]
Description=Bsky Firehose
After=network.target syslog.target

[Service]
Type=simple
User=eric
WorkingDirectory=/home/eric/bsky-tools
ExecStart=./firehose.sh
TimeoutSec=15
Restart=on-failure
RestartSec=1
StandardOutput=journal

[Install]
WantedBy=multi-user.target
