[Unit]
Description=bsky langs
After=network.target syslog.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/bsky-tools
ExecStart=/home/ubuntu/bsky-tools/bin/bsky-langs
TimeoutSec=15
Restart=always
RestartSec=30
StandardOutput=journal

[Install]
WantedBy=multi-user.target
