[Unit]
Description=bsky users
After=network.target syslog.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/bsky-tools
ExecStart=/home/ubuntu/bsky-tools/bin/bsky-users
TimeoutSec=10
Restart=always
RestartSec=5
StandardOutput=journal

[Install]
WantedBy=multi-user.target
