[Unit]
Description=Bsky Feedgen
After=network.target syslog.target

[Service]
Type=simple
User=eric
WorkingDirectory=/home/eric/bsky-tools
ExecStart=/home/eric/.local/bin/pipenv run ./feedgen.py
TimeoutSec=15
Restart=on-failure
RestartSec=300
StandardOutput=journal

[Install]
WantedBy=multi-user.target
