[Unit]
Description=PLC Activity
After=network.target syslog.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/bsky-tools
ExecStart=/home/ubuntu/bsky-tools/bin/plc-activity
TimeoutSec=15
Restart=always
RestartSec=5
StandardOutput=journal

[Install]
WantedBy=multi-user.target
